@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImg {
 background-image: url('/images/bg-pattern-quotation.svg');
background-position: top 0px right 20%;
background-repeat: no-repeat;

}